{%include "../../includes/header.inc"%}
    <h2>{{first.main.name.value|urldecode}}</h2>
    {% if first.affiliates.resource %}
    <h3>Affiliates</h3>
    <ol>
    {% for row in models.affiliates %}
    <li>{{row.name.value|urldecode}}</li>
    {% endfor %}
    </ol>
    {%endif%}
{%include "../../includes/footer.inc"%}